In [1]:
# DS Libraries
import pandas as pd
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# knn submodules from scikit learn
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, plot_confusion_matrix
from sklearn.linear_model import LogisticRegression

# Data Acquisition
from pydataset import data
import env
import acquire as acq
import prepare as prp

In [2]:
# load telco via acquire.py
df = acq.new_telco_data()
df.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,3,1,3,2162-FRZAA,Male,0,Yes,Yes,63,No,...,Yes,No,No,No,39.35,2395.05,No,Two year,DSL,Bank transfer (automatic)
1,4,1,3,2160-GPFXD,Male,0,Yes,Yes,54,Yes,...,Yes,No,No,Yes,65.65,3566.7,No,Two year,DSL,Credit card (automatic)
2,2,1,2,2157-MXBJS,Male,0,Yes,No,13,Yes,...,No,Yes,Yes,Yes,75.30,989.45,Yes,One year,DSL,Mailed check
3,4,1,1,2155-AMQRX,Female,0,No,No,28,Yes,...,Yes,No,No,Yes,54.90,1505.15,No,Month-to-month,DSL,Credit card (automatic)
4,3,1,2,2150-WLKUW,Female,0,Yes,No,40,Yes,...,No,Yes,No,No,63.90,2635,No,One year,DSL,Bank transfer (automatic)

In [4]:
df.payment_type_id.value_counts(normalize=True)

1    0.335794
2    0.228880
3    0.219225
4    0.216101
Name: payment_type_id, dtype: float64

In [15]:
df.columns

Index(['payment_type_id', 'internet_service_type_id', 'contract_type_id',
       'customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'online_security',
       'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies', 'paperless_billing', 'monthly_charges',
       'total_charges', 'churn', 'contract_type', 'internet_service_type',
       'payment_type'],
      dtype='object')

In [20]:
for col in df.columns:
    print(df[col].value_counts())

1    2365
2    1612
3    1544
4    1522
Name: payment_type_id, dtype: int64
2    3096
1    2421
3    1526
Name: internet_service_type_id, dtype: int64
1    3875
3    1695
2    1473
Name: contract_type_id, dtype: int64
2162-FRZAA    1
5680-LQOGP    1
5640-CAXOA    1
5641-DMBFJ    1
5649-TJHOV    1
             ..
4660-IRIBM    1
4670-TABXH    1
4673-KKSLS    1
4676-MQUEA    1
8909-BOLNL    1
Name: customer_id, Length: 7043, dtype: int64
Male      3555
Female    3488
Name: gender, dtype: int64
0    5901
1    1142
Name: senior_citizen, dtype: int64
No     3641
Yes    3402
Name: partner, dtype: int64
No     4933
Yes    2110
Name: dependents, dtype: int64
1     613
72    362
2     238
3     200
4     176
71    170
5     133
7     131
8     123
9     119
70    119
12    117
10    116
6     110
13    109
68    100
11     99
15     99
67     98
18     97
69     95
24     94
22     90
66     89
35     88
17     87
23     85
16     80
56     80
64     80
52     80
25     79
26     79
14     76
65     76
61     76
60     76
46     74
19     73
63     72
30     72
27     72
29     72
20     71
62     70
41     70
53     70
32     69
54     68
51     68
50     68
47     68
58     67
49     66
43     65
57     65
31     65
37     65
42     65
34     65
55     64
33     64
48     64
40     64
21     63
45     61
59     60
38     59
28     57
39     56
44     51
36     50
0      11
Name: tenure, dtype: int64
Yes    6361
No      682
Name: phone_service, dtype: int64
No                  3390
Yes                 2971
No phone service     682
Name: multiple_lines, dtype: int64
No                     3498
Yes                    2019
No internet service    1526
Name: online_security, dtype: int64
No                     3088
Yes                    2429
No internet service    1526
Name: online_backup, dtype: int64
No                     3095
Yes                    2422
No internet service    1526
Name: device_protection, dtype: int64
No                     3473
Yes                    2044
No internet service    1526
Name: tech_support, dtype: int64
No                     2810
Yes                    2707
No internet service    1526
Name: streaming_tv, dtype: int64
No                     2785
Yes                    2732
No internet service    1526
Name: streaming_movies, dtype: int64
Yes    4171
No     2872
Name: paperless_billing, dtype: int64
20.05     61
19.85     45
19.90     44
19.95     44
19.70     43
          ..
107.65     1
83.95      1
113.80     1
111.40     1
18.75      1
Name: monthly_charges, Length: 1585, dtype: int64
20.2       11
           11
19.75       9
19.65       8
20.05       8
           ..
1500.5      1
7758.9      1
2724.25     1
5265.5      1
52.05       1
Name: total_charges, Length: 6531, dtype: int64
No     5174
Yes    1869
Name: churn, dtype: int64
Month-to-month    3875
Two year          1695
One year          1473
Name: contract_type, dtype: int64
Fiber optic    3096
DSL            2421
None           1526
Name: internet_service_type, dtype: int64
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_type, dtype: int64

In [21]:
for col in df.columns:
    print(df[col].value_counts(normalize=True))

1    0.335794
2    0.228880
3    0.219225
4    0.216101
Name: payment_type_id, dtype: float64
2    0.439585
1    0.343746
3    0.216669
Name: internet_service_type_id, dtype: float64
1    0.550192
3    0.240664
2    0.209144
Name: contract_type_id, dtype: float64
2162-FRZAA    0.000142
5680-LQOGP    0.000142
5640-CAXOA    0.000142
5641-DMBFJ    0.000142
5649-TJHOV    0.000142
                ...
4660-IRIBM    0.000142
4670-TABXH    0.000142
4673-KKSLS    0.000142
4676-MQUEA    0.000142
8909-BOLNL    0.000142
Name: customer_id, Length: 7043, dtype: float64
Male      0.504756
Female    0.495244
Name: gender, dtype: float64
0    0.837853
1    0.162147
Name: senior_citizen, dtype: float64
No     0.516967
Yes    0.483033
Name: partner, dtype: float64
No     0.700412
Yes    0.299588
Name: dependents, dtype: float64
1     0.087037
72    0.051399
2     0.033792
3     0.028397
4     0.024989
71    0.024137
5     0.018884
7     0.018600
8     0.017464
9     0.016896
70    0.016896
12    0.016612
10    0.016470
6     0.015618
13    0.015476
68    0.014198
11    0.014057
15    0.014057
67    0.013915
18    0.013773
69    0.013489
24    0.013347
22    0.012779
66    0.012637
35    0.012495
17    0.012353
23    0.012069
16    0.011359
56    0.011359
64    0.011359
52    0.011359
25    0.011217
26    0.011217
14    0.010791
65    0.010791
61    0.010791
60    0.010791
46    0.010507
19    0.010365
63    0.010223
30    0.010223
27    0.010223
29    0.010223
20    0.010081
62    0.009939
41    0.009939
53    0.009939
32    0.009797
54    0.009655
51    0.009655
50    0.009655
47    0.009655
58    0.009513
49    0.009371
43    0.009229
57    0.009229
31    0.009229
37    0.009229
42    0.009229
34    0.009229
55    0.009087
33    0.009087
48    0.009087
40    0.009087
21    0.008945
45    0.008661
59    0.008519
38    0.008377
28    0.008093
39    0.007951
44    0.007241
36    0.007099
0     0.001562
Name: tenure, dtype: float64
Yes    0.903166
No     0.096834
Name: phone_service, dtype: float64
No                  0.481329
Yes                 0.421837
No phone service    0.096834
Name: multiple_lines, dtype: float64
No                     0.496663
Yes                    0.286668
No internet service    0.216669
Name: online_security, dtype: float64
No                     0.438450
Yes                    0.344881
No internet service    0.216669
Name: online_backup, dtype: float64
No                     0.439443
Yes                    0.343888
No internet service    0.216669
Name: device_protection, dtype: float64
No                     0.493114
Yes                    0.290217
No internet service    0.216669
Name: tech_support, dtype: float64
No                     0.398978
Yes                    0.384353
No internet service    0.216669
Name: streaming_tv, dtype: float64
No                     0.395428
Yes                    0.387903
No internet service    0.216669
Name: streaming_movies, dtype: float64
Yes    0.592219
No     0.407781
Name: paperless_billing, dtype: float64
20.05     0.008661
19.85     0.006389
19.90     0.006247
19.95     0.006247
19.70     0.006105
            ...
107.65    0.000142
83.95     0.000142
113.80    0.000142
111.40    0.000142
18.75     0.000142
Name: monthly_charges, Length: 1585, dtype: float64
20.2       0.001562
           0.001562
19.75      0.001278
19.65      0.001136
20.05      0.001136
             ...
1500.5     0.000142
7758.9     0.000142
2724.25    0.000142
5265.5     0.000142
52.05      0.000142
Name: total_charges, Length: 6531, dtype: float64
No     0.73463
Yes    0.26537
Name: churn, dtype: float64
Month-to-month    0.550192
Two year          0.240664
One year          0.209144
Name: contract_type, dtype: float64
Fiber optic    0.439585
DSL            0.343746
None           0.216669
Name: internet_service_type, dtype: float64
Electronic check             0.335794
Mailed check                 0.228880
Bank transfer (automatic)    0.219225
Credit card (automatic)      0.216101
Name: payment_type, dtype: float64